.carrinho-titulo {
    margin: 70px 0;
    font-size: 2.50rem;
    color: #000;
    text-align: center;
}

.produto-container {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-rows: auto;
    grid-template-areas: "carrinho1 carrinho2";
    justify-items: center;
}

.carrinho-col1 {
    /* display: flex; */
    grid-area: carrinho1;
    flex-wrap: wrap;
    justify-content: center;
}

.carrinho-produto {
    display: flex;
    padding: 30px;
    margin: 0 15px 30px 15px;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 239, 239, 0.2);
}

.carrinho-produto>img {
    width: 250px;
}

.carrinho-info {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.info-nome {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.698);
}

.info-preco {
    display: block;
    font-size: 1.5625rem;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.698);
}

.info-btn {
    display: flex;
}

.info-btn1,
.info-btn2 {
    display: block;
    font-size: 1rem;
    padding: 15px 25px;
    margin: 5px;
    color: rgba(147, 147, 147, 0.902);
    border: none;
    background-color: #EFEFEF;
}

.carrinho-col2 {
    grid-area: carrinho2;
    margin-bottom: 70px;
}

.col2-bg {
    background-color: rgba(239, 239, 239, 0.702);
}

.col2-container {
    padding: 100px 80px;
}

.col2-container h3 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.btn-carrinho {
    display: block;
    text-align: center;
    font-size: 1.05rem;
    padding: 15px;
    margin-top: 70px;
    background-color: #fff;
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
    transition: box-shadow .3s ease-out;
}

.btn-carrinho:hover {
    box-shadow: 1px 1px 5px 1px;
}

.col2-valor {
    display: block;
    font-size: 1.25rem;
    font-style: italic;
    color: #000;
    padding: 20px 0;
}

.col2-preco {
    float: right;
    font-size: 1.5625rem;
    font-weight: 700;
}

.info-rotulo {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.575);
    padding-right: 20px;
}
