.card-container {
    display: flex;
    margin: 70px 0;
    flex-direction: column;
    align-items: center;
}

.card-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

.card-flex {
    display: flex;
}

.espaco-campo {
    padding-left: 20px;
}

.campo-flex {
    display: flex;
}

.campo-ck {
    padding-bottom: 20px;
}

.campo-ck>label {
    display: block;
    font-size: 1.10rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
}

.campo-ck>input {
    border: none;
    border-radius: 4px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    font-size: 1rem;
    background: #EFEFEFC7;
}

.ck-grande {
    width: 100%;
}

.ck-medio {
    width: 250px;
}

.ck-pequeno {
    width: 100px;
}

.parcelar-titulo {
    font-size: 1.10rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
    padding-left: 20px;
}

.parcelar-pgto {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #929292;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 90%;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}


.parcelar-pgto:focus {
    box-shadow: 0 0 1px 1px rgba(153, 163, 173, 0.7);
    outline: none;
}

.pgto-container {
    display: flex;
}
