.container-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}

.usuario,
.cadastro {
    padding: 0 50px 50px 50px;
}

.usuario h2,
.cadastro h2 {
    text-align: center;
    font-size: 2.1875rem;
    color: rgba(0, 0, 0, 0.698);
}

.usuario h2 {
    padding-bottom: 40px;
}

.campo {
    padding-bottom: 20px;
}

.campo>label {
    display: block;
    font-size: 1.10rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
}

.campo>input {
    border: none;
    border-radius: 4px;
    width: 280px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    font-size: 1rem;
    background: #EFEFEFC7;
}

.btn-usuario {
    font-family: 'Lato', sans-serif;
    display: block;
    cursor: pointer;
    background: none;
    padding: 7px 35px;
    margin: 30px auto 0px auto;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.60);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
    transition: box-shadow .3s ease-out;
}

.btn-usuario:hover {
    box-shadow: 1px 1px 5px 1px;
}

.usuario-senha {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.cadastro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cadastro-senha {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.60);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
    margin-top: 50px;
    padding: 10px 40px;
    transition: box-shadow .3s ease-out;
}

.cadastro-senha:hover {
    box-shadow: 1px 1px 5px 1px;
}

.cadastro::before {
    content: '';
    border-left: 1px solid #000;
    background: #000;
    width: 1px;
    height: 100%;
}

.lembrar-me {
    padding-bottom: 15px;
}


/* ------------------------------ Cadastrar-se ------------------------------ */

.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
}

.cadastro-container>h2 {
    text-align: center;
    font-size: 2.1875rem;
    padding-bottom: 70px;
    color: rgba(0, 0, 0, 0.698);
}

.titulo-secoes {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: #c5c4c4;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
}

.secao-container {
    display: flex;
    padding: 30px 0;
    justify-content: center;
}

.secao-campo {
    padding: 0 15px;
}

.secao-campo>label {
    display: block;
    font-size: 1.10rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
}

.secao-campo>input {
    border: none;
    border-radius: 4px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    font-size: 1rem;
    background: rgba(239, 239, 239, 0.78);
}

.cp-maior {
    width: 450px;
}

.cp-menor {
    width: 170px;
}

.cp-medio {
    width: 300px;
}

.secao-container-endereco {
    padding: 30px 0;
}

.secao-endereco {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.erro-campo {
    background-color: #fff !important;
    border: 1px solid #e3342f !important;
}

.feedback-invalido {
    display: block;
    margin-top: 10px;
    font-size: .9rem;
    font-weight: normal;
    color: rgba(227, 54, 49, 0.8);
}

.btn-cadastro {
    font-family: 'Lato', sans-serif;
    display: block;
    cursor: pointer;
    font-weight: bold;
    background: none;
    padding: 10px 20px;
    margin: 40px auto 0px auto;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.60);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
    transition: box-shadow .3s ease-out;

}

.btn-cadastro:hover {
    box-shadow: 1px 1px 5px 1px;
}
