/* ---------------------------------- Reset --------------------------------- */
h1,
h2,
h3,
p,
ul,
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

li,
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* ---------------------------------- Menu ---------------------------------- */

.bg-container {
    background: #595959;
}

.menu-container {
    display: flex;
    height: 140px;
    color: white;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.menu-logo {
    margin-left: 55px;
    display: flex;
    align-items: center;
}

.menu-logo>img {
    width: 25%;
    margin-right: 30px;
}

.menu-icones {
    display: flex;
    margin-right: 55px;
    align-items: center;
    justify-content: space-between;
}

.icones-container {
    display: flex;
    align-items: center;
}

.icones-container>div {
    margin: 0 16px;
}

.pesquisa {
    display: flex;
    align-items: center;
}

.pesquisa>input {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: 16px 20px;
    width: 270px;
    border-radius: 5px;
    height: 30px;
    border: none;
    margin-right: 15px;
}

.pesquisa>button {
    background: none;
    border: none;
    cursor: pointer;
}

.icone>i {
    font-size: 22px;
    color: white;
}

.nome-container {
    display: flex;
    flex-direction: column;
    padding-left: 55px;
}

.acessos-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.acessos-info>span {
    font-size: 1rem;
    color: #E6E2E2;
    font-weight: bold;
    padding-right: 10px;
}

.acessos-info>a,
.acessos-container>a {
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
}

.acessos-container {
    display: flex;
    justify-content: start;
}

.ac-sair {
    font-weight: bold;
}

.menu-link {
    display: flex;
    background: #252525;
    justify-content: center;
    align-items: center;
}

.bg-link::before {
    content: '';
    display: block;
    max-width: 100%;
    height: 10px;
    background: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    margin: 0 auto;
}

/* -------------------------------- Navegação ------------------------------- */

.nav-link {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-link ul {
    display: flex;
    z-index: 2;
}

.nav-link ul li a {
    padding: 20px;
    border-radius: 5px;
    margin: 0 5px;
    color: white;
    transition: background-color 1s ease-out;
}

.nav-link ul li a:hover {
    background-color: #595959;
}

/* --------------------------------- Footer --------------------------------- */

.footer::before {
    content: '';
    display: block;
    height: 10px;
    max-width: 100%;
    background: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    margin: 0 auto;
}

.footer-bg {
    background: rgba(239, 239, 239, 0.90);
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    margin-left: 155px;
    height: 100px;
    align-self: center;
    justify-content: center;
}

.footer-info h3 {
    color: #595959;
    font-size: 1rem;
}

.footer-info img {
    display: block;
    width: 200px;
    height: 80px;
    margin: 0 auto;
}

.footer-nav {
    margin-left: 390px;
    padding: 20px 0;
}

.footer-nav h3 {
    color: rgba(37, 37, 37, 0.70);
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer-list {
    display: flex;
}

.footer-list ul {
    margin-right: 50px;
}

.footer-list ul li {
    padding: 5px;
}

.footer-list ul li a {
    font-size: .875rem;
}

.copyright-bg {
    background: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
}

.copyright-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

.copyright-p {
    font-size: .875rem;
    color: #fff;
    padding: 0 80px 0 55px;
}

.copyright-social {
    display: flex;
    align-items: center;
}

.copyright-icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding-right: 20px;

}

.copyright-icons>a>i {
    font-size: 25px;
    color: #fff;
}

.up {
    padding: 17px 55px;
    border-left: 1px solid #fff;
}

.up>a>i {
    font-size: 25px;
    color: #fff;
}

.thanks-container {
    width: 100%;
    min-height: 195px;
}

.thanks-container p {
    margin-top: 70px;
    font-size: 2.2rem;
    text-align: center;
    color: #747272;
}
