.container-principal {
    height: 750px;
    width: 1280px;
    align-items: center;
}

.container-prod {
    display: flex;
    align-items: center;
    top: 295px;
    left: 55px;
    width: 1158px;
    height: 600px;
    opacity: 1
}

.ct-im img {
    margin-top: 30%;
    margin-left: 10%;
    width: 540px;
    height: 570px;
    opacity: 1;
}

.ct-detalhes {
    margin-left: 10%;
}

.ct-detalhes h2 {
    margin-top: 15%;
    left: 655px;
    width: 400px;
    height: 70px;
    text-align: left;
    font: Bold 35px/42px Lato;
    letter-spacing: 0px;
    color: #000000B2;
    opacity: 1;
}

.ct-detalhes p {
    margin-top: 5%;
    text-align: left;
    left: 655px;
    width: 200px;
    height: 157px;
    opacity: 1;
}

.price {
    margin-bottom: 60px;
    margin: 2%;
     left: 655px;
    width: 200px;
    height: 30px;
    text-align: left;
    font: Bold 25px/30px Lato;
    letter-spacing: 0px;
    color: #000000B2;

   
}

#desc {
    margin-top: 5%;
    left: 645px;
    width: 109px;
    height: 30px;
    text-align: left;
    font: Regular 25px/30px Lato;
    letter-spacing: 0px;
    color: #000000B2;
    opacity: 1;
}


.ct-select select {
    font-size: 1.05rem;
    padding: 10px;
    border: none;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    color: rgba(75, 75, 75, 0.698);
}

.btn-adccard {
    margin-top: 50px;
}

.btn-adccard {
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.698);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
}
