/* ---------------------------------- Reset --------------------------------- */
h1,
h2,
h3,
p,
ul,
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

li,
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* ---------------------------------- Menu ---------------------------------- */

.bg-container {
    background: #595959;
}

.menu-container {
    display: flex;
    height: 140px;
    color: white;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.menu-logo {
    margin-left: 55px;
    display: flex;
    align-items: center;
}

.menu-logo>img {
    width: 25%;
    margin-right: 30px;
}

.menu-icons {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin-right: 55px;
    justify-content: space-between;
}

.menu-auth {
    margin-left: 55px;
}

.menu-auth a {
    color: white;
    font-weight: bold;
    font-size: .9375rem;
}

.menu-auth>span {
    padding-right: 30px;
}


.menu-link {
    display: flex;
    background: #252525;
    justify-content: center;
    align-items: center;
}

.bg-link::before {
    content: '';
    display: block;
    max-width: 100%;
    height: 10px;
    background: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    margin: 0 auto;
}

/* -------------------------------- Navegação ------------------------------- */

.nav-link {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-link ul {
    display: flex;
    z-index: 2;
}

.nav-link ul li a {
    padding: 20px;
    border-radius: 5px;
    margin: 0 5px;
    color: white;
    transition: background-color 1s ease-out;
}

.nav-link ul li a:hover {
    background-color: #595959;
}

/* --------------------------------- Footer --------------------------------- */

.footer::before {
    content: '';
    display: block;
    height: 10px;
    max-width: 100%;
    background: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    margin: 0 auto;
}

.footer-bg {
    background: rgba(239, 239, 239, 0.90);
}

.footer-container {
    display: flex;
    height: 190px;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    margin-left: 155px;
    height: 100px;
    align-self: center;
}

.footer-info h3 {
    color: #595959;
    font-size: 1.25rem;
}

.footer-info img {
    display: block;
    width: 200px;
    height: 80px;
    margin: 0 auto;
}

.footer-nav {
    margin-left: 390px;
}

.footer-nav h3 {
    color: #252525;
    margin-bottom: 10px;
}

.footer-list {
    display: flex;
}

.footer-list ul {
    margin-right: 50px;
}

.footer-list ul li {
    padding: 5px;
}


.copyright-bg {
    background: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
}


.copyright-container {
    display: flex;
    max-width: 100%;
    /* height: 60px; */
    align-items: center;
    justify-content: space-between;
}

.copyright-p {
    font-size: .9375rem;
    color: #fff;
    padding: 0 80px 0 55px;
}

.copyright-social {
    display: flex;
    align-items: center;
}

.copyright-icons>a {
    padding: 0 30px;
}

.up {
    padding: 17px 55px;
    border-left: 1px solid #fff;
}

/* -------------------------------- Principal ------------------------------- */

.principal-bg {
    position: relative;
    width: 100%;
    height: 70vh;
    background: linear-gradient(-110deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
}

.principal-bg>img {
    position: absolute;
    width: 60%;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.principal-info {
    width: 450px;
    padding: 140px 0 0 55px;
}

.principal-info h1 {
    font-size: 2.0625rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.principal-bg p {
    margin-top: 30px;
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
}

/* -------------------------------- Masculino ------------------------------- */


.masc-bg {
    position: relative;
    border: 45px solid #CBBEB4;
    margin: 90px 55px;
}

.masc-bg>img {
    position: absolute;
    max-width: 100%;
    display: block;
    left: 50px;
    top: 50px;
}

.masc-info::before {
    content: '';
    width: 50%;
}

.masc-info {
    display: flex;
    width: 100%;
    margin: 65px 0;
    justify-content: center;
}

.masc-info h2 {
    font-size: 2.0625rem;
    color: #CBBEB4;
    text-align: center;
    font-weight: 700;
}

.masc-info p {
    margin: 30px 0;
    font-size: 1.25rem;
    text-align: center;
    color: #CBBEB4;
}

.masc-info a {
    font-size: 1.25rem;
    color: #CBBEB4;
    border: 5px solid #CBBEB4;
    padding: 10px 20px;
    transition: background-color 1s ease-out;
}

.masc-info a:hover {
    background-color: #b6a496;
    color: #fff;
}

/* -------------------------------- Feminino -------------------------------- */

.fem-bg {
    display: flex;
    justify-content: space-between;
    background: #FFDD81;
    align-items: center;
    height: 400px;
    margin-top: 300px;
}

.fem-info {
    margin: 0 auto;
}

.fem-info h2 {
    font-size: 2.0625rem;
    color: #252525;
    text-align: center;
    font-weight: 700;
}

.fem-info p {
    margin: 30px 0;
    font-size: 1.25rem;
    text-align: center;
    color: #252525;
}

.fem-info a {
    font-size: 1.25rem;
    color: #fff;
    border: 5px solid #fff;
    padding: 10px 20px;
    transition: background-color 1s ease-out;
}

.fem-info a:hover {
    background-color: #fff;
    color: #252525;

}

.info-centro {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
}

.fem-img>img {
    display: block;
    padding-right: 100px;
}

/* --------------------------------- Neutro --------------------------------- */

.neutro-bg {
    position: relative;
    border: 45px solid #DB0A5B;
    margin: 250px 55px 70px 55px;
}

.neutro-bg>img {
    position: absolute;
    max-width: 100%;
    display: block;
    left: -45px;
    top: -45px;
}

.neutro-info::before {
    content: '';
    width: 50%;
}

.neutro-info {
    display: flex;
    width: 100%;
    margin: 65px 0;
    justify-content: center;
}

.neutro-info h2 {
    font-size: 2.0625rem;
    color: #DB0A5B;
    text-align: center;
    font-weight: 700;
}

.neutro-info p {
    margin: 30px 0;
    font-size: 1.25rem;
    text-align: center;
    color: #DB0A5B;
}

.neutro-info a {
    font-size: 1.25rem;
    color: #DB0A5B;
    border: 5px solid #DB0A5B;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    transition: background-color 1s ease-out;
}

.neutro-info a:hover {
    background: rgb(203, 9, 84);
    color: #fff;
}

.container-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}

.usuario,
.cadastro {
    padding: 0 50px 50px 50px;
}

.usuario h2,
.cadastro h2 {
    text-align: center;
    font-size: 2.1875rem;
    color: rgba(0, 0, 0, 0.698);
}

.usuario h2 {
    padding-bottom: 40px;
}

.campo {
    padding-bottom: 20px;
}

.campo>label {
    display: block;
    font-size: 1.10rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
}

.campo>input {
    border: none;
    border-radius: 4px;
    width: 250px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    font-size: 1rem;
    background: #EFEFEFC7;
}

.btn-usuario {
    font-family: 'Lato', sans-serif;
    display: block;
    cursor: pointer;
    background: none;
    padding: 7px 35px;
    margin: 30px auto 0px auto;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.60);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
    transition: box-shadow .3s ease-out;
}

.btn-usuario:hover {
    box-shadow: 1px 1px 5px 1px;
}

.usuario-senha {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.cadastro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cadastro-senha {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.60);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
    margin-top: 50px;
    padding: 10px 40px;
    transition: box-shadow .3s ease-out;
}

.cadastro-senha:hover {
    box-shadow: 1px 1px 5px 1px;
}

.cadastro::before {
    content: '';
    border-left: 1px solid #000;
    background: #000;
    width: 1px;
    height: 100%;
}

.lembrar-me {
    padding-bottom: 15px;
}


/* ------------------------------ Cadastrar-se ------------------------------ */

.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
}

.cadastro-container>h2 {
    text-align: center;
    font-size: 2.1875rem;
    padding-bottom: 70px;
    color: rgba(0, 0, 0, 0.698);
}

.titulo-secoes {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: #c5c4c4;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
}

.secao-container {
    display: flex;
    padding: 30px 0;
    justify-content: center;
}

.secao-campo {
    padding: 0 15px;
}

.secao-campo>label {
    display: block;
    font-size: 1.10rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
}

.secao-campo>input {
    border: none;
    border-radius: 4px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    font-size: 1rem;
    background: rgba(239, 239, 239, 0.78);
}

.cp-maior {
    width: 450px;
}

.cp-menor {
    width: 170px;
}

.cp-medio {
    width: 300px;
}

.secao-container-endereco {
    padding: 30px 0;
}

.secao-endereco {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.erro-campo {
    background-color: #fff !important;
    border: 1px solid #e3342f !important;
}

.feedback-invalido {
    display: block;
    margin-top: 10px;
    font-size: .9rem;
    font-weight: normal;
    color: rgba(227, 54, 49, 0.8);
}

.btn-cadastro {
    font-family: 'Lato', sans-serif;
    display: block;
    cursor: pointer;
    font-weight: bold;
    background: none;
    padding: 10px 20px;
    margin: 40px auto 0px auto;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.60);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
    transition: box-shadow .3s ease-out;

}

.btn-cadastro:hover {
    box-shadow: 1px 1px 5px 1px;
}

.container-principal {
    height: 750px;
    width: 1280px;
    align-items: center;
}

.container-prod {
    display: flex;
    align-items: center;
    top: 295px;
    left: 55px;
    width: 1158px;
    height: 600px;
    opacity: 1
}

.ct-im img {
    margin-top: 30%;
    margin-left: 10%;
    width: 540px;
    height: 570px;
    opacity: 1;
}

.ct-detalhes {
    margin-left: 10%;
}

.ct-detalhes h2 {
    margin-top: 15%;
    left: 655px;
    width: 400px;
    height: 70px;
    text-align: left;
    font: Bold 35px/42px Lato;
    letter-spacing: 0px;
    color: #000000B2;
    opacity: 1;
}

.ct-detalhes p {
    margin-top: 5%;
    text-align: left;
    left: 655px;
    width: 200px;
    height: 157px;
    opacity: 1;
}

.price {
    margin-bottom: 60px;
    margin: 2%;
     left: 655px;
    width: 200px;
    height: 30px;
    text-align: left;
    font: Bold 25px/30px Lato;
    letter-spacing: 0px;
    color: #000000B2;

   
}

#desc {
    margin-top: 5%;
    left: 645px;
    width: 109px;
    height: 30px;
    text-align: left;
    font: Regular 25px/30px Lato;
    letter-spacing: 0px;
    color: #000000B2;
    opacity: 1;
}


.ct-select select {
    font-size: 1.05rem;
    padding: 10px;
    border: none;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    color: rgba(75, 75, 75, 0.698);
}

.btn-adccard {
    margin-top: 50px;
}

.btn-adccard {
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.698);
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
}

/* ------------------------------- Acessórios ------------------------------- */
.acessorio-img {
    width: 100%;
    height: 70vh;
}

.header {
    position: relative;
}

.header h2 {
    font-size: 4.0625rem;
    position: absolute;
    right: 100px;
    bottom: 25px;
    color: #fff;
}

.main-acessorios {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    grid-template-areas: "column1 column2";
    margin-top: 70px;
    margin-bottom: 70px;
    justify-items: center;
}

.col1 {
    width: 280px;
    grid-area: column1;
}

.categoria-head,
.cor-head,
.tamanho-head {
    background: #EFEFEF;
    text-align: center;
    padding: 15px 0;
    color: #939393;
    font-size: 1.125rem;
    font-weight: 700;
}

.categoria-body,
.cor-body,
.tamanho-body {
    background: #EFEFEF80;
}

.categoria-body {
    color: #939393;
    margin: 10px 0;
}

.categoria-body ul {
    padding: 20px 0;
}

.categoria-body ul li {
    font-size: 1.125rem;
    padding: 5px 0 5px 40px;
}

.cor-container {
    padding: 30px 0 30px 40px;
}

.cor-body,
.tamanho-body {
    margin: 10px 0;
}

.cor-item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cor-item input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid #000;
}

.tamanho-body {
    padding: 20px 0;
}

.tabela {
    margin: 0 auto;
}

.tabela tr td {
    border: 1px solid #939393;
    padding: 5px 10px;
    text-align: center;
    color: #939393;
}

.col2 {
    grid-area: column2;
}

.col2>p {
    font-size: 1.875rem;
    text-align: center;
    padding-bottom: 70px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
}

.prod-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px 50px 0;
    flex-direction: column;
}

.prod-titulo {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
    color: #252525;

}

.prod-item>span {
    font-size: 1.25rem;
    text-align: center;
    color: #252525;

}

.prod-item img {
    width: 230px;
}

.carrinho-titulo {
    margin: 70px 0;
    font-size: 3.125rem;
    color: #000;
    text-align: center;
}

.produto-container {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-rows: auto;
    grid-template-areas: "carrinho1 carrinho2";
    justify-items: center;
}

.carrinho-col1 {
    /* display: flex; */
    grid-area: carrinho1;
    flex-wrap: wrap;
    justify-content: center;
}

.carrinho-produto {
    display: flex;
    padding: 30px;
    margin: 0 15px 30px 15px;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 239, 239, 0.2);
}

.carrinho-produto>img {
    width: 250px;
}

.carrinho-info {
    margin: 0 30px;
}

.info-nome {
    display: block;
    font-weight: 700;
    font-size: 1.9rem;
    padding-bottom: 50px;
    color: rgba(0, 0, 0, 0.698);
}

.info-preco {
    display: block;
    font-size: 1.5625rem;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.698);
}

.info-btn {
    display: flex;
}

.info-btn1,
.info-btn2 {
    display: block;
    font-size: 1rem;
    padding: 15px 25px;
    margin: 5px;
    color: rgba(147, 147, 147, 0.902);
    border: none;
    background-color: #EFEFEF;
}

.carrinho-col2 {
    grid-area: carrinho2;
    margin-bottom: 70px;
}

.col2-bg {
    background-color: rgba(239, 239, 239, 0.702);
}

.col2-container {
    padding: 100px 80px;
}

.col2-container h3 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.col2-container>a {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 1.05rem;
    padding: 15px;
    border: 1px solid #000;
    margin-top: 70px;
    background-color: #fff;
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
}

.col2-container>button {
    text-align: center;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.05rem;
    border: none;
    margin: 10px 0;
    padding: 15px 35px;
    border: 1px solid #000;
    background-color: #fff;
    border: 5px solid;
    border-image: linear-gradient(-50deg, #00B0FF, #01AFFE, #FC4189, #FFC937);
    border-image-slice: 1;
}

.col2-valor {
    display: block;
    font-size: 1.25rem;
    font-style: italic;
    color: #000;
    padding: 20px 0;
}

.col2-preco {
    float: right;
    font-size: 1.5625rem;
    font-weight: 700;
}

